.fr-admin-page {
    margin-top: 25px;
}

.fr-admin-page .container {
    padding      : 40px 50px 40px 40px;
    background   : #fff;
    margin       : 0 20px;
    border-radius: 12px;
    box-shadow   : 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fr-admin-page .container .topic {
    font-size    : 30px;
    font-weight  : 500;
    margin-bottom: 20px;
}

.fa-active-tab {
    border-radius: 12px;
    background   : #6d50e2;
    transition   : all 1s ease;
    color        : #fff !important;
}

.fr-admin-page .content {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.fr-admin-page .content .list {
    display       : flex;
    flex-direction: column;
    width         : 20%;
    margin-right  : 50px;
    position      : relative;
}

.fr-admin-page .content .list label {
    height     : 60px;
    font-size  : 22px;
    font-weight: 500;
    line-height: 60px;
    cursor     : pointer;
    text-align : center;
    color      : #333;
    z-index    : 12;
}

.fa-active-tab label {
    color: #FFF !important;
}

.list.fa-tab-list a {
    text-decoration: none;
    text-align     : center;
    box-shadow     : none;
}

.fr-admin-page .content .list label:hover {
    color: #6d50e2;
}

.fr-admin-page .content .text-content {
    width: 90%;
}


.fr-admin-page .content .text .title {
    font-size    : 25px;
    margin-bottom: 10px;
    font-weight  : 500;
}

.fr-admin-page input[type="text"]::placeholder {
    color    : gray;
    font-size: 16px;
    opacity  : 0.5;
}

.fr-admin-page input[type="text"],
.fr-admin-page select {
    width    : 58%;
    margin   : 5px;
    height   : 45px;
    max-width: 70%;
    border   : 1px solid #D3D3D3;
}

.fr-admin-page input[type="checkbox"] {
    width        : 30px;
    margin       : 5px;
    height       : 30px;
    border-radius: 100%;
    border       : 1px solid #D3D3D3;
}

.fr-admin-page input[type="text"]:focus,
.fr-admin-page input[type="checkbox"]:focus,
.fr-admin-page select {
    border: 1px solid #6d50e2;
}

.fr-admin-page input[type="submit"] {
    width           : 70%;
    margin          : 5px;
    height          : 50px;
    background-color: #6d50e2;
    border          : none;
    color           : #FFF;
    font-size       : 20px;
    border-radius   : 10px;
    cursor          : pointer;
}

.text-content label {
    display: inline-block;
    width  : 140px;
}

.fr-admin-page input[type=checkbox]:checked::before {
    margin: -0.1875rem 0 0 -0.4rem;
    width : 2.3125rem;
}

.colorpicker {
    height        : 35px;
    vertical-align: middle;
    cursor        : pointer;
    box-shadow    : none !important;
    border-color  : none !important;
}

.fa_style_inner {
    padding      : 25px;
    margin-bottom: 5px;
    border       : 1px solid #D3D3D3;
    width        : 65%;
    border-radius: 5px;
}

.fa_style_inner table {
    width: 100%;
}

.fa_style_inner th {
    font-weight: 400;
}

.fa_style_inner h3,
.fa_style_inner td {
    text-align: center;
}
.fr-users-list{
    text-align: center;
}
.fr-users-list .content  .text-content{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #6d50e2;
}
#fr-user-table{
    width: 100%;
    border-collapse: collapse;
}
#fr-user-table th{
    background-color: #6d50e2;
    border-collapse: collapse;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}
#fr-user-table th,
#fr-user-table td{
    padding: 12px;
}
#fr-user-table tr:nth-child(odd){
    background-color: #f8f6ff;
}
.custom-firebase-auth{
    position: relative;
}
/* loader */
.fr-spinner {
    margin: auto;
    width: 70px;
    text-align: center;
  }
  
  .fr-spinner > div {
    width: 10px;
    height: 10px;
    background-color: #6d50e2;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .fr-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .fr-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }